* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.country-wrapper {
  display: flex;
  align-items: center;
}

.country-container {
  width: 30em;
  height: 2em;
  display: flex;
  color: #000;
  border: 1px solid #686868;
  align-items: center;
  padding: 0 1em;
  border-radius: 5px;
  justify-content: space-between;
}

.country-wrapper:not(:last-of-type) {
  margin-bottom: 10px;
}

.country {
  font-size: 15px;
}

.country-id {
  font-size: 15px;
}

.country-cases {
  font-size: 15px;
}